@font-face {
  font-family: teslicsdocument;
  src: url(../fonts/teslicsdocument.ttf); 
}
@font-face {
  font-family: officina;
  src: url(../fonts/officina.ttf); 
}
body{
	padding: 0;
	margin:0;
	min-width: 1175px;
}
.header-container{
	height: 0;
	width: 0;
	background-color: #fff;
}
.header{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translatey(-50%) translatex(-50%);
    font: 40px/36px teslicsdocument;
    color: #333;
    text-align: center;
    transition: all 1s ease;
    background-color: #fff;
    white-space: nowrap;
    .header_sm{
		font: 35px/30px teslicsdocument;
		color: #fcc261;
		margin-top: 1em;
    }
}
.header_up #header_logo{
	width: 295px;
	padding: 2em 3em 0.5em;
	white-space: nowrap;
}
.header_up{
	position: fixed;
	top:  0;
	left: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	transition: all 1s ease;
	font: 20px/16px teslicsdocument;
	text-align: left;
	// box-shadow: 0 1px 10px 0px rgba(85, 85, 85, 0.5);
	z-index: 200;
	.header_sm{
		font: 15px/20px teslicsdocument;
		color: #fcc261;
		margin-top: .4em;
    }
}
.header_up:hover{
	cursor: pointer;
	color: #fcc261;
	transition: all .2s ease;
}
.scroll-arrow{
	display: flex;
	position: absolute;
    bottom: -100%;
    left: 45%;
    font-size: 17px;
    .arrow{
    	background-image: url(../img/down_arrow.png);
    	background-size: 20px;
    	width: 35px;
    	height: 35px;
    	background-position: center center;
    	background-repeat: no-repeat;
		color: #000;
    	animation: jump 1.2s infinite ease;
    	transition: all 0.3s ease;
    }
}

@keyframes jump{
	0%{
		transform: translatey(5px);
	}
	100%{
		transform: translatey(0px);
	}
}
.button-disease{
    height: 41px;
    width: 100%;
    background: linear-gradient(to right,#39474d, #1c7ac5);
    color: #fff;
    font-size: 20px;
    font-family: inherit;
    border-radius: 50px;
    border: none;
    outline: none;
}
.button-disease:hover,.button-disease:active{
    background: linear-gradient(to right, #1c7ac5, #39474d);
}
.noborder{
	border: none !important;
}
[class *="content-"]{
	transition: all 0.3s ease;
	opacity: 0;
	display: flex;
	flex-flow: row wrap;
	z-index: 10;
	background-color: #FFF;
}
.content-left{
	justify-content: flex-start;
	// padding: 200px 100px 0;
	border-top: 11px dotted #333;
	height: 200px;
}
.content-left2{
	justify-content: flex-start;
	border-top: 11px dotted #333;
	height: 300px;
	padding-left: 100px;
}
.content-right{
	justify-content: flex-end;
	border-top: 5px dotted #333;
	height: 400px;
	padding-right: 100px;
}
.content-center{
	justify-content: center;
	flex-flow: row wrap;
	height: 525px;
	padding-bottom: 1em;
	border-top: 18px dotted #333;
}
[class *="form"]{
	position: absolute;
	z-index: 20;
	opacity: 0;
	transition: all 1s ease-out;
}
[class *="text"]{
	font-family: officina;
	font-size: 23px;
	color: #fff;
	width: 300px;
	position: absolute;
	text-align: center;
}
.form1{
	transform: translatey(0) translatex(-50%);
}
.text1{
	top: 6em;
	left: 8em;
}
.form2{
	transform: translatey(30%) translatex(20%);
}
.text2{
    top: 8em;
    left: 4em;
}
.form3{
	transform: translatey(0%) translatex(-70%) ;
}
.text3{
    top: 10em;
    left: 4em;
}
.form4{
	transform: translatey(5%);
}
.text4{
    top: 8em;
    left: 8em;
}
.form5{
	animation: none;
}
.text5{
	top: 8em;
    right: 2em;
    color: #fff;
    width: 73%;
    font-size: 24px;
}
.circle6{
	position: absolute;
   	right: 2em;
}
.text6{
	top: 4.2em;
    left: 4em;
    color: #fff;
}
.wheel-content{
	background-color: #fff;
	display: none;
    height: 0;
	padding: 30px 30px 0 30px;
	position: relative;
	transition: all 1s ease;
	z-index: -1;
	.content-right, .content-left{
		visibility: visible;
		opacity: 1;
		border: none;
	}
}
.wheel-description{
	position: fixed;
    top: 2.5em;
    left: 65%;
}
.wheel-container{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translatey(-50%);
}
.wheel{
	z-index: -1;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
    border: 10px solid #b57940;
    animation: none;
    animation-fill-mode: backwards;
    animation-play-state: running;
    transform: rotate(15deg);
}
.wheel-arrow{
	transform: translatex(48%) translatey(52%);
}
.wheel-list{
	list-style: none;
}
[class*='wheel-item']{
	position: absolute;
	width: 250px;
	height: 125px;
	left: 0;
	top: 125px;
	transform-origin: right bottom;
	overflow: hidden;
}
.wheel-circle_sm{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #8f6033;
    transform: translateX(-50%) translatey(-50%);
    box-shadow: 0px 0px 0px 7px #7f562f;
    margin: 50% 0 0 50%;
}
.wheel-circle_sm:before{
	content: '';
	position: absolute;
	width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lighten(#8f6033, 10%);
    transform: translateX(-50%) translatey(-50%);
    margin: 50% 0 0 50%;
}
.wheel-circle_sm:after{
	content: '';
	position: absolute;
	width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lighten(#ffa423, 5%);
    transform: translateX(-50%) translatey(-50%);
    margin: 50% 0 0 50%;
}
.disease{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: transparent;
	width: 250px;
	height: 125px;
	img{
	    color: #fff;
	    position: absolute;
		height: 50px;
    	top: 40%;
    	left: 50%;
	    transform: skew(-60deg) rotate(-75deg);
	}
}
@keyframes opacity{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
$rotateStep: 30deg;
$dark-color: #ffa423;
$light-color: #ffc169;
$percent-step: 9%;
$thisColor: true;
$person: 1;
@for $i from 1 through 12{
	.wheel-item#{$i}{
		transform: rotate($rotateStep) skew(59.7deg) ;
		$rotateStep: $rotateStep + 30deg;

		@if $thisColor == false{
			background-color: lighten($dark-color, $percent-step);
			$percent-step: $percent-step + 2%;
			$thisColor: true;
			// background-image: url('../img/faces/'$person'.png');
			// $person: $person+1;
		}@else{
			background-color: darken($light-color, $percent-step);
			$percent-step: $percent-step + 1%;
			$thisColor: false;
		}
	}
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(721deg);
	}
}
@keyframes slowRotate{
	0%{
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(210deg);
	}
}
.corner{
	position: fixed;
	bottom: -8px;
    left: -8px;
    z-index: -1;
}
[class*='button']{
	cursor: pointer;
	outline: none;
	border-radius: 50px;
    font-family: officina;
}
.push{
	display: none;
	opacity: 0;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
}
.push-button{
    padding: 0 2em;
    right: 35%;
    height: 45px;
    min-width: max-content;
    margin-top: 2%;
    background: #ffcf8c;
    color: #c83e19;
    border: 3px solid #c83e19;
    font-size: 30px;
    transition: all .6s ease;
}
.push-button:hover{
	background-color: darken(#ffcf8c, 10%);
}
.push-button:active{
	background-color: darken(#ffcf8c, 20%);
	color: #fff;
}
.result{
	display: none;
	background-color: #fff;
	height: 0;
	position: relative;
	transition: height 2s ease;
	overflow: hidden; 
	transition: all 1s ease;
}
.result-header{
	font-family: officina;
    font-size: 2.5em;
    padding: 1em;
    text-align: center;
}
.result-biase{
	font-family: teslicsdocument;
	font-size: 1em;
}
.result-body{
	margin: auto;
    text-align: center;
	width: 60%;
}
.result-description{
	font: 1.6em/1.4em officina;
	text-align: center;
	color: #000;
}
.wheel-face{
    position: absolute;
    right: 8%;
    bottom: 7%;
    border-radius: 50%;
    height: 450px;
    width: 450px;
    overflow: hidden;
    opacity: 0.3;
	img{
		height: 100%;
	}
}
.result-buttons{
	display: flex;
    flex-flow: column wrap;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    margin-top: 50px;
}
.result-button{
	font-size: 25px;
	border: 3px solid #c83e19;
	border-radius:30px;
	background-color: #fff;
	height: 50px;
	padding: 0 1em;
	outline: none;
}
.result-button:hover{
	background-color: lighten(#c83e19, 50%);
}
.result-button:active{
	background-color: lighten(#c83e19, 20%);
	color: #fff;
}