@font-face {
  font-family: teslics;
  src: url(../fonts/teslics.ttf); 
}
@font-face {
  font-family: officina;
  src: url(../fonts/officina.ttf); 
}
body{
	padding: 300px 0 0 0;
	margin:0;
}
.header{
	position: absolute;
	transform: translatex(-50%) translatey(-50%);
	top: 50%;
	left: 50%;
	padding: 1em 1em 0.5em;
    font: 40px/36px teslics;
    color: #333;
    text-align: center;
    width: 800px;
    transition: all 1s ease;
    .header_sm{
		font: 35px/30px teslics;
		color: #fcc261;
    }
}
.header_up{
	position: fixed;
	top:  0;
	left: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	transition: all 1s ease;
	padding: 1em 3em 0;
	font: 20px/16px teslics;
	text-align: left;
	box-shadow: 0 1px 10px 0px rgba(85, 85, 85, 0.5);
	z-index: 200;
	.header_sm{
		font: 15px/20px teslics;
		color: #fcc261;
    }
}
.header_up:hover{
	cursor: pointer;
}
.scroll-arrow{
	display: flex;
	position: absolute;
    bottom: -100%;
    left: 45%;
    font-size: 17px;
    .arrow{
    	background-image: url(../img/down_arrow.png);
    	background-size: 20px;
    	width: 35px;
    	height: 35px;
    	background-position: center center;
    	background-repeat: no-repeat;
		color: #000;
    	animation: jump 1.2s infinite ease;
    	transition: all 0.3s ease;
    }
}

@keyframes jump{
	0%{
		transform: translatey(5px);
	}
	100%{
		transform: translatey(0px);
	}
}
.button-disease{
    height: 41px;
    width: 100%;
    background: linear-gradient(to right,#39474d, #1c7ac5);
    color: #fff;
    font-size: 20px;
    font-family: inherit;
    border-radius: 50px;
    border: none;
    outline: none;
	// box-shadow: 0 1px 2px 1px #4c1256;
}
.noborder{
	border: none !important;
}
[class *="content-"]{
	transition: all 0.3s ease;
	opacity: 0;
	display: flex;
	flex-flow: row wrap;
	height: 250px;
	z-index: 10;
}
.content-left{
	justify-content: flex-start;
	padding-left: 100px;
	border-top: 11px dotted #333;
	height: 500px;
}
.content-left2{
	justify-content: flex-start;
	border-top: 11px dotted #333;
	margin: 50px 0;
	height: 300px;
	padding-left: 100px;
}
.content-right{
	justify-content: flex-end;
	border-top: 5px dotted #333;
	margin: 50px 0;
	padding-right: 100px;
}
.content-center{
	justify-content: center;
	flex-flow: row wrap;
	height: 450px;
	border-top: 18px dotted #333;
	margin-top: 50px;
}
[class *="form"]{
	position: absolute;
	z-index: 20;
	opacity: 0;
	transition: all 1.5s ease;
}
[class *="text"]{
	font-family: officina;
	font-size: 23px;
	color: #fff;
	width: 300px;
	position: absolute;
	text-align: center;
}
.form1{
	transform: translatey(50%) translatex(-30%);
	animation: none;
}
.text1{
	top: 6em;
	left: 8em;
}
.form2{
	transform: translatey(30%) translatex(20%);
}
.text2{
    top: 8em;
    left: 4em;
}
.form3{
	transform: translatey(0%) translatex(-70%) ;
}
.text3{
    top: 10em;
    left: 4em;
}
.form4{
	transform: translatey(35%);
}
.text4{
    top: 8em;
    left: 8em;
}
.form5{
	animation: none;
}
.text5{
	top: 3.5em;
    left: 5em;
    color: #fff;
}
.circle6{
	position: absolute;
   	right: 2em;
}
.text6{
	top: 4.2em;
    left: 4em;
    color: #fff;
}
.wheel-content{
	background: linear-gradient(to bottom, #fff, #fff);
	display: none;
    height: 780px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
	padding: 30px 30px 0 30px;
	position: relative;
	.content-right, .content-left{
		visibility: visible;
		opacity: 1;
		border: none;
	}
}
.wheel-description{
	position: absolute;
	right: 2em;
	top: 5em;
}
.wheel-container{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
    // margin-left: 50%;
    // margin-top: 25%;
    // transform: translatex(50%) translatey(-20%);
    border: 2px solid #df972f;
    animation: none;
    animation-fill-mode: backwards;
    animation-play-state: running;
}
.wheel{
	list-style: none;
}
[class*='wheel-item']{
	position: absolute;
	width: 250px;
	height: 125px;
	// background-color: #000;
	left: 0;
	top: 125px;
	// border: 1px solid #333;
	transform-origin: right bottom;
	overflow: hidden;
}
.wheel-circle_sm{
	position: absolute;
	left: 40%;
	top: 40%;
	border-radius: 50%;
	background-color: #FFF;
	img{
		position: absolute;
	    z-index: 0;
	    top: 30%;
	    height: 10%;
	}
}
.disease{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: transparent;
	width: 250px;
	height: 125px;
	img{
	    color: #fff;
	    position: absolute;
		height: 50px;
    	top: 40%;
    	left: 50%;
	    transform: skew(-60deg) rotate(-75deg);
	}
}
@keyframes opacity{
	0%{
		opacity: 0;

	}
	100%{
		opacity: 1;
	}
}
$rotateStep: 30deg;
$dark-color: #ffa423;
$light-color: #ffc169;
$percent-step: 9%;
$thisColor: true;
$person: 1;
@for $i from 1 through 12{
	.wheel-item#{$i}{
		transform: rotate($rotateStep) skew(60deg) ;
		$rotateStep: $rotateStep + 30deg;

		@if $thisColor == false{
			background-color: lighten($dark-color, $percent-step);
			$percent-step: $percent-step + 2%;
			$thisColor: true;
			// background-image: url('../img/faces/'$person'.png');
			// $person: $person+1;
		}@else{
			background-color: darken($light-color, $percent-step);
			$percent-step: $percent-step + 1%;
			$thisColor: false;
		}
	}
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(721deg);
	}
}
.corner{
	position: absolute;
	bottom: 0px;
    left: 0px;
}
.push-button{
    position: absolute;
    bottom: 10%;
    right: 35%;
    height: 51px;
    width: 29%;
    background: #ffcf8c;
    color: #c83e19;
    font-size: 30px;
    font-family: officina;
    border-radius: 50px;
    border: 3px solid #c83e19;
    outline: none;
}
.disease-card{
	visibility: hidden;
	transform: translatey(15%) translatex(75%);
	transition: all 1.5s ease;
	width: 400px;
	height: 100%;
    font-size: 20px;
	font-family: officina;
	max-width: 500px;
	padding: 1em;
	margin: 0.5em 1.5em;
	background-color: #FFF;
	box-shadow: 3px 8px 10px 3px #ddd;
	animation: none;
}
.result{
	display: none;
	background-color: #fff;
	height: 677px;
	position: relative;
}
.result-header{
	font-family: officina;
    font-size: 2.5em;
    padding: 1em;
    text-align: center;
}
.result-biase{
	font-family: teslics;
	font-size: 1.2em;
}
.result-description{
	font: 2em/1.2em officina;
	
	display: flex;
	justify-content: center;
	.text{
		width: 50%;
		color: #333;	
	}
}
.wheel-circle{
    position: absolute;
    right: 15%;
    bottom: 10%;
    border-radius: 50%;
    height: 324px;
    width: 328px;
    overflow: hidden;
	img{
		height: 100%;
	}
}